<!--menu-top-->
<div class="menu-top-container">
    <div class="container">
        <div class="menu-top-container2">
            <div class="row row-mini20">

                <div class="col order-lg-0 order-md-0">
                    <nav class="menu-top">
                        <ul class="level1">
                            <li class="selected">
                                <span class="item">Услуги</span>
                                <ul class="level2">
                                    <li><a href="#" class="item">Медицинские справки</a></li>
                                    <li><a href="#" class="item">Услуги для детей</a></li>
                                    <li><a href="#" class="item">Covid-19</a></li>
                                    <li><a href="#" class="item">Услуги для взрослых</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#" class="item">Анализы</a>
                                <ul class="level2">
                                    <li>
                                        <a href="#" class="item">Наша продукция</a>
                                        <ul class="level3">
                                            <li><a href="#" class="item">Газосиликатные блоки</a></li>
                                            <li><a href="#" class="item">Трехслойные несущие блоки с теплоизоляционным слоем</a></li>
                                            <li><a href="#" class="item">Товары для сада</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="item">Проектирование коттеджей и ландшафтный дизайн</a>
                                        <ul class="level3">
                                            <li><a href="#" class="item">Подраздел 1</a></li>
                                            <li><a href="#" class="item">Подраздел 2</a></li>
                                            <li><a href="#" class="item">Подраздел 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="item">Строительство коттеджей</a></li>
                                    <li>
                                        <a href="#" class="item">Аренда техники</a>
                                        <ul class="level3">
                                            <li><a href="#" class="item">Подраздел 4</a></li>
                                            <li><a href="#" class="item">Подраздел 5</a></li>
                                            <li><a href="#" class="item">Подраздел 6</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="item">Бетонные работы</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="item">Цены</a></li>
                            <li><a href="#" class="item">Контакты</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col order-lg-1 order-md-2">
                    <div class="search-wrapper">
                        <div class="search-container">
                            <form class="nc_search" action="/search/" method="GET">
                                <input type="search" placeholder="Введите текст поиска" name="search_query">
                                <input class="submit" type="submit" value="&#xf002;" title='Введите текст поиска'>
                            </form>

                            <!--                        <div class="schema-snippet">-->
                            <!--                            <div itemscope itemtype="https://schema.org/WebSite">-->
                            <!--                                <link itemprop="url" href="https://www.example.com">-->
                            <!--                                <div itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">-->
                            <!--                                    <meta itemprop="target" content="https://example.com/search/?search_query={search_query}"/>-->
                            <!--                                    <meta itemprop="query-input" content="name=search_query">-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->

                        </div>

                        <div class="search-variants" style="/*display: block;*/">    <div class="search-variants-option"><a href="/catalog/stroitelstvo-kottedzhey/ocherednoy-tovar-po-stroitelstvu.html">очередной товар по строительству</a></div>
                            <div class="search-variants-option"><a href="/catalog/stroitelstvo-kottedzhey/pervyy-tovar-po-stroitelstvu.html">первый товар по строительству</a></div>
                            <div class="search-variants-option"><a href="/catalog/nasha-produktsiya/krutoy-televizor.html">тестирование товара с гифкой</a></div>
                            <div class="search-variants-option"><a href="">Товар 1</a></div>
                            <div class="search-variants-option"><a href="/catalog/katalog-paginatsiya/tovar-1.html">Товар 1</a></div>
                            <div class="search-variants-option"><a href="">Товар 2</a></div>
                            <div class="search-variants-option"><a href="/catalog/katalog-paginatsiya/tovar-2.html">Товар 2</a></div>
                            <div class="search-variants-option"><a href="">Товар 3</a></div>
                            <div class="search-variants-option"><a href="/catalog/katalog-paginatsiya/tovar-3.html">Товар 3</a></div>
                            <div class="search-variants-option"><a href="/catalog/katalog-paginatsiya/tovar-4.html">Товар 4</a></div>
                            <div class="search-variants-option"><a href="/catalog/katalog-paginatsiya/tovar-5.html">Товар 5</a></div>
                            <div class="search-variants-option"><a href="/catalog/katalog-paginatsiya/tovar-6.html">Товар 6</a></div>
                            <div class="search-variants-option"><a href="/catalog/katalog-paginatsiya/tovar-7.html">Товар 7</a></div>
                        </div>
                    </div>
                </div>

                <div class="col order-lg-2 order-md-1">
                    <a data-fancybox="modal-form" data-type="ajax" data-src="forms/modal_form.html" href="javascript:;" class="button">Запись на прием</a>
                </div>

            </div>
        </div>
    </div>
</div>