<!-- scripts -->
<script defer src="js/lib/vh-check.min.js"></script>
<script defer src="js/lib/mmenu.min.js"></script>
<script defer src="js/lib/lazyload.min.js"></script>
<script defer src="js/lib/focus-visible.min.js"></script>
<script defer src="js/lib/js.cookie.min.js"></script>
<script defer src="js/lib/infinite-ajax-scroll.min.js"></script>
<script defer src="js/lib/jquery.inputmask.min.js"></script>
<script defer src="js/lib/owl.carousel.min.js"></script>
<script defer src="js/lib/jquery.fancybox.min.js"></script>
<script defer src="js/lib/jquery.mb.YTPlayer.min.js"></script>
<script defer src="js/lib/flexmenu.min.js"></script>
<script defer src="js/lib/jquery.standart_widgetPhone2.js"></script>
<script defer src="js/lib/jquery.svhelp.js"></script>
<script defer src="js/app/_common.js?ver=1.0.0"></script>
<!-- /scripts -->