@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"); }

@font-face {
  font-family: "MontserratAlternates";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MontserratAlternates-Bold/MontserratAlternates-Bold.woff2") format("woff2"), url("../fonts/MontserratAlternates-Bold/MontserratAlternates-Bold.woff") format("woff"); }
