<!DOCTYPE html>
<html lang="ru">

<head>
  @@include('head.html', {
  "title": "Доктор"
  })
  @@include('head_css.html')
</head>

<body>

<div class="page">

  @@include('header.html')

  @@include('menu_top.html')

  <!--content-->
  <div class="page-content inner-bg">

    @@include('breadcrumb.html')

    <div class="text-block-two-columns doctor-inner block-margin-bottom-small">
      <div class="container">

        <div class="text-block-item">

          <div class="title-wrapper">
            <h1>Хирург - Мальшаков Андрей Владимирович</h1>
          </div>

          <div class="row mb-30 no-gutters">

            <div class="col-md-5">
              <div class="text-container text-elements-title">
                <div class="text text-elements">

                  <div class="img-container">
                    <img data-src="img/doc5.jpg" width="520" height="480" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' viewBox='0 0 520 480'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="text-container text-elements-title">
                <div class="text-wrap">
                  <div class="text text-elements">

                    <div class="prof">
                      Хирургия, оториноларингология, ВОП, Нейрохирургия <br>
                      Член Российского общества хирургов
                    </div>

                    <div class="doctor-inner-title">Профессиональные навыки</div>
                    <p>Ведение амбулаторно-поликлинического приема, квалифицированное оказание амбулаторной помощи пациентам хирургического профиля.</p>
                    <p>Выполняет весь спектр амбулаторно-поликлинических операций по поводу гнойных воспалений кожи, подкожно-жировой клетчатки, вросшего ногтя, образований кожи с применением лазера, электрокоагуляции и метода "Сургитрон"</p>

                    <div class="doctor-inner-title">График приема в клинике</div>

                    <div class="row align-items-center">
                      <div class="col-xl-6">
                        <table class="time">
                          <tr>
                            <th>Вторник:</th>
                            <td><span class="nowrap">10:00 - 14:00,</span>  <span class="nowrap">16:00 - 18:30</span></td>
                          </tr>
                          <tr>
                            <th>Четверг:</th>
                            <td><span class="nowrap">10:00 - 14:00,</span>  <span class="nowrap">16:00 - 18:00</span></td>
                          </tr>
                          <tr>
                            <th>Пятница:</th>
                            <td><span class="nowrap">10:00 - 14:00,</span>  <span class="nowrap">16:00 - 18:00</span></td>
                          </tr>
                          <tr>
                            <th>Суббота:</th>
                            <td><span class="nowrap">10:00 - 14:00</span></td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-xl-6">
                        <a href="#" class="button">Запись на прием</a>
                      </div>
                    </div>
                    <div class="doctor-inner-title">Отзывы пациентов: <a href="#tovar-reviews">15</a></div>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="catalog-gallery block-margin-bottom">
      <div class="container">

        <div class="row row-mb-30-minus"
             style="--img-width: 240px;
                           --img-height: 340px;
                           --img-padding-top: 141.67%;
                            "
        >

          <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
            <a href="img/temp/gallery_preview.jpg"
               class="item"
               data-thumb="img/temp/gallery_preview.jpg"
               data-fancybox-id="id1"
               data-fancybox="gallery">

              <div class="img-container">
                <div class="img-border">
                  <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  <link itemprop="contentUrl" href="путь_к_картинке">
                </div>
              </div>
              <!--                            <div class="name" itemprop="name">Рисунок 1</div>-->
            </a>
          </div>

          <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
            <a href="img/temp/gallery_preview.jpg"
               class="item"
               data-thumb="img/temp/gallery_preview.jpg"
               data-fancybox-id="id1"
               data-fancybox="gallery"
               data-caption="Название рисунка">

              <div class="img-container">
                <div class="img-border">
                  <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  <link itemprop="contentUrl" href="путь_к_картинке">
                </div>
              </div>
              <!--                            <div class="name" itemprop="name">Рисунок 1</div>-->
            </a>
          </div>

          <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
            <a href="img/temp/gallery_preview.jpg"
               class="item"
               data-thumb="img/temp/gallery_preview.jpg"
               data-fancybox-id="id1"
               data-fancybox="gallery"
               data-caption="Название рисунка">

              <div class="img-container">
                <div class="img-border">
                  <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  <link itemprop="contentUrl" href="путь_к_картинке">
                </div>
              </div>
              <!--                            <div class="name" itemprop="name">Подпись к фотографии большая в целых две-->
              <!--                                строки-->
              <!--                            </div>-->
            </a>
          </div>

          <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
            <a href="img/temp/gallery_preview.jpg"
               class="item"
               data-thumb="img/temp/gallery_preview.jpg"
               data-fancybox-id="id1"
               data-fancybox="gallery"
               data-caption="Название рисунка">

              <div class="img-container">
                <div class="img-border">
                  <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  <link itemprop="contentUrl" href="путь_к_картинке">
                </div>
              </div>
              <!--                            <div class="name" itemprop="name">Рисунок 1</div>-->
            </a>
          </div>

        </div>

      </div>
    </div>

    <div class="faq block-bg5" id="tovar-reviews">
      <div class="container">

        <div class="btn-wrap">
          <a data-fancybox="modal-faq" data-type="ajax" data-src="forms/modal_faq.html" href="javascript:;" class="button">Оставить отзыв</a>
        </div>

        <div class="pagination-ajax-wrapper mb-30">
          <div class="item">

            <div class="item-text text1">
              <div class="row row-mini20 justify-content-center">
                <div class="col-md-12">
                  <div class="text-container">

                    <div class="item-info">
                      <div class="name">Сергей</div>
                      <time datetime="2017-05-21" class="date">01.09.2021</time>
                    </div>

                    <div class="title">Отзыв:</div>
                    <div class="text">
                      Обращался в клинику Лекарь в октябре 2013 года – лечил вросший ноготь.
                      <div class="text3">
                        Врач предложил современный способ – радиоволновая хирургия, быстро и без боли, без крови. Сразу отпустили домой, потребовалась 1 перевязка. Обратился потому что не надо ждать в очереди и уходить на больничный, ходить в процедурный поликлинники на перевязки и т п… все сделано у них для людей, с государственным учреждением несравнить…
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="item-text text2">
              <div class="text-container">
                <div class="title">Ответ:</div>
                <div class="text">Спасибо за теплые слова. </div>
                <div class="answer-name">Администрация сайта</div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="item-text text1">
              <div class="row row-mini20 justify-content-center">
                <div class="col-md-12">
                  <div class="text-container">

                    <div class="item-info">
                      <div class="name">Александра</div>
                      <time datetime="2017-05-21" class="date">01.09.2021</time>
                    </div>

                    <div class="title">Отзыв:</div>
                    <div class="text">
                      Добрый день. Наблюдалась в медцентре «Лекарь» по беременности, по программе Стандарт. Это очень удобно, особенно когда нет времени сидеть в очереди в государственной женской конс. Здесь запись по времени – пришел и не ждеш никого.
                      <div class="text3">
                        Гинекологи – приятные люди, оставили ощущение грамотных специалистов. Необходимое обследование тоже проходила при медцентре – анализы там и УЗИ…Благодаря замечательным докторам моя беременность прошла без непредвиденых сюрпризов и весьма для меня легко, и теперь я счастливая мама 4-месячной малышки.
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="item-text text2">
              <div class="text-container">
                <div class="title">Ответ:</div>
                <div class="text">Спасибо за теплые слова. </div>
                <div class="answer-name">Администрация сайта</div>
              </div>
            </div>
          </div>

          <div class="item">

            <div class="item-text text1">
              <div class="row row-mini20 justify-content-center">
                <div class="col-md-12">
                  <div class="text-container">

                    <div class="item-info">
                      <div class="name">Сергей</div>
                      <time datetime="2017-05-21" class="date">01.09.2021</time>
                    </div>

                    <div class="title">Отзыв:</div>
                    <div class="text">
                      Обращался в клинику Лекарь в октябре 2013 года – лечил вросший ноготь.
                      <div class="text3">
                        Врач предложил современный способ – радиоволновая хирургия, быстро и без боли, без крови. Сразу отпустили домой, потребовалась 1 перевязка. Обратился потому что не надо ждать в очереди и уходить на больничный, ходить в процедурный поликлинники на перевязки и т п… все сделано у них для людей, с государственным учреждением несравнить…
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="item-text text2">
              <div class="text-container">
                <div class="title">Ответ:</div>
                <div class="text">Спасибо за теплые слова. </div>
                <div class="answer-name">Администрация сайта</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  @@include('footer.html')

</div>

@@include('widgets.html')

@@include('scripts.html')

</body>
</html>