<!DOCTYPE html>
<html lang="ru">

<head>
    @@include('head.html', {
    "title": "Главная"
    })
    @@include('head_css.html')
</head>

<body class="index-page">

<div class="page">

    @@include('header.html')

    @@include('menu_top.html')

    <!--content-->
    <div class="page-content page-content-no-margin-top">

        <div class="combine-block block-bg1 block-margin-bottom-disabled">
            <div class="catalog-sections2 block-margin-bottom">
                <div class="container">

                    <div class="title-wrapper">
                        <div class="container">
                            <h1>Медцентр «Лекарь», Красногорск</h1>
                        </div>
                    </div>

                    <div class="row row-mb-30-minus">

                        <div class="col-md-4 mb-30">
                            <div class="item">
                                <a href="#" class="name">Медицинские справки</a>
                                <ul>
                                    <li><a href="#">Медицинская книжка</a></li>
                                    <li><a href="#">Медицинские профосмотры</a></li>
                                    <li><a href="#">Медицинские справки</a></li>
                                    <li><a href="#">Медкомиссия при приеме на работу</a></li>
                                    <li><a href="#">Медицинские справки в школу</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 mb-30">
                            <div class="item">
                                <a href="#" class="name">Услуги для детей</a>
                                <ul>
                                    <li><a href="#">Дерматология</a></li>
                                    <li><a href="#">Педиатрия</a></li>
                                    <li><a href="#">Отоларингология (ЛОР)</a></li>
                                    <li><a href="#">Терапия</a></li>
                                    <li><a href="#">УЗИ</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 mb-30">
                            <div class="item">
                                <a href="#" class="name">Covid-19</a>
                                <ul>
                                    <li><a href="#">ПЦР-тест</a></li>
                                    <li><a href="#">Анализы на антитела</a></li>
                                    <li><a href="#">Первичная вакцинация</a></li>
                                    <li><a href="#">Ревакцинация</a></li>
                                    <li><a href="#">Постковидная терапия</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-12 mb-30">
                            <div class="item">
                                <a href="#" class="name">Услуги для взрослых</a>
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <li><a href="#">Аллергология</a></li>
                                            <li><a href="#">Анализы</a></li>
                                            <li><a href="#">Андрология</a></li>
                                            <li><a href="#">Ведение беременности</a></li>
                                            <li><a href="#">Венерология</a></li>
                                            <li><a href="#">Гастроэнтерология</a></li>
                                        </ul>
                                    </div>

                                    <div class="col">
                                        <ul>
                                            <li><a href="#">Гинекология</a></li>
                                            <li><a href="#">Дерматология</a></li>
                                            <li><a href="#">Кардиология</a></li>
                                            <li><a href="#">Косметология</a></li>
                                            <li><a href="#">Мануальная терапия</a></li>
                                            <li><a href="#">Отоларингология (ЛОР)</a></li>
                                        </ul>
                                    </div>

                                    <div class="col">
                                        <ul>
                                            <li><a href="#">Аллергология</a></li>
                                            <li><a href="#">Анализы</a></li>
                                            <li><a href="#">Андрология</a></li>
                                            <li><a href="#">Ведение беременности</a></li>
                                            <li><a href="#">Венерология</a></li>
                                            <li><a href="#">Гастроэнтерология</a></li>
                                        </ul>
                                    </div>

                                    <div class="col">
                                        <ul>
                                            <li><a href="#">Аллергология</a></li>
                                            <li><a href="#">Анализы</a></li>
                                            <li><a href="#">Андрология</a></li>
                                            <li><a href="#">Ведение беременности</a></li>
                                            <li><a href="#">Венерология</a></li>
                                            <li><a href="#">Гастроэнтерология</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="basic-slider item-with-shadow">
                <div class="container">

                    <div class="owl-carousel owl-theme">

                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="#" class="img-container">
                                        <img data-src="img/slide.jpg" width="520" height="480" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' viewBox='0 0 520 480'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-container">
                                        <a href="#" class="name">Акции октября</a>
                                        <div class="text-wrap">
                                            <div class="text text-elements">
                                                <div class="h2">Электроимпедансная маммография</div>
                                                <ul class="ul-style">
                                                    <li>Безопасно для пациента (отсутствие лучевой нагрузки)</li>
                                                    <li>Отсутствие ограничений для проведения процедуры (беременность не является противопоказанием)</li>
                                                    <li>Возможны частые обследования</li>
                                                    <li>Высокая точность результатов</li>
                                                </ul>
                                                <div class="text-wrap2">
                                                    <div class="price">ВСЕГО <span>за 2 000 руб.</span></div>
                                                    <a href="#" class="button">Запись на прием</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-5">
                                    <a href="#" class="img-container">
                                        <img data-src="img/slide.jpg" width="520" height="480" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' viewBox='0 0 520 480'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <div class="text-container">
                                        <a href="#" class="name">Акции октября</a>
                                        <div class="text-wrap">
                                            <div class="text text-elements">
                                                <div class="h2">Электроимпедансная маммография</div>
<!--                                                <ul class="ul-style">-->
<!--                                                    <li>Безопасно для пациента (отсутствие лучевой нагрузки)</li>-->
<!--                                                    <li>Отсутствие ограничений для проведения процедуры (беременность не является противопоказанием)</li>-->
<!--                                                    <li>Возможны частые обследования</li>-->
<!--                                                    <li>Высокая точность результатов</li>-->
<!--                                                </ul>-->
                                                <div class="text-wrap2">
<!--                                                    <div class="price">ВСЕГО <span>за 2 000 руб.</span></div>-->
                                                    <a href="#" class="button">Запись на прием</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="text-block-three-columns block-bg2">
            <div class="container">

                <div class="text-block-item">
                    <div class="title-wrapper">
                        <div class="h2">Направления работы</div>
                        <div class="sub-title">медицинского центра</div>
                    </div>

                    <div class="row mb-30">

                        <div class="col-lg-4">
                            <div class="text-container text-elements-title">
                                <div class="text text-elements">
                                    <p>Специалисты многопрофильного медицинского центра «Лекарь» ведут прием детей и взрослых. Платная квалифицированная помощь высшего уровня в комфортных условиях технически обеспеченной клиники — гарантия выздоровления для каждого пациента.</p>
                                    <p>Здоровье — основная ценность человека. Чтобы сохранить его на долгие годы, необходима регулярная консультация, а иногда и вмешательство врачей. Немаловажную роль играет своевременная профилактика заболеваний.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="text-container text-elements-title">
                                <div class="text text-elements">
                                    <p>В медицинском центре «Лекарь» в Павшинской Пойме предлагают обширный перечень услуг в области диагностики и лечения патологий, расстройств и системных нарушений. Специалисты не только помогают справиться с болезнями, но и помогают предупредить их появление.</p>
                                    <p>Медцентр работает по приоритетным направлениям урологии, дерматовенерологии, общей и мануальной терапии, гинекологии, неврологии.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="text-container text-elements-title">
                                <div class="text text-elements">
                                    <p>Врачи — акушеры-гинекологи предлагают платное ведение беременности.</p>
                                    <p>Медцентр располагает собственной лабораторией с оборудованием экспертного класса и опытным персоналом. Здесь можно сдать анализы более чем по 1000 различных наименований исследований.</p>
                                    <p>В медицинском центре также проводят курс физиотерапии, назначенный лечащим врачом, делают плановые и срочные прививки.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="catalog-gallery block-bg3">
            <div class="container">

                <div class="title-wrapper">
                    <div class="h2">Лицензии и сертификаты</div>
                </div>

                <div class="row row-mb-30-minus"
                     style="--img-width: 240px;
                           --img-height: 340px;
                           --img-padding-top: 141.67%;
                            "
                >

                    <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="img/temp/gallery_preview.jpg"
                           class="item"
                           data-thumb="img/temp/gallery_preview.jpg"
                           data-fancybox-id="id1"
                           data-fancybox="gallery">

                            <div class="img-container">
                                <div class="img-border">
                                    <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    <link itemprop="contentUrl" href="путь_к_картинке">
                                </div>
                            </div>
<!--                            <div class="name" itemprop="name">Рисунок 1</div>-->
                        </a>
                    </div>

                    <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="img/temp/gallery_preview.jpg"
                           class="item"
                           data-thumb="img/temp/gallery_preview.jpg"
                           data-fancybox-id="id1"
                           data-fancybox="gallery"
                           data-caption="Название рисунка">

                            <div class="img-container">
                                <div class="img-border">
                                    <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    <link itemprop="contentUrl" href="путь_к_картинке">
                                </div>
                            </div>
<!--                            <div class="name" itemprop="name">Рисунок 1</div>-->
                        </a>
                    </div>

                    <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="img/temp/gallery_preview.jpg"
                           class="item"
                           data-thumb="img/temp/gallery_preview.jpg"
                           data-fancybox-id="id1"
                           data-fancybox="gallery"
                           data-caption="Название рисунка">

                            <div class="img-container">
                                <div class="img-border">
                                    <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    <link itemprop="contentUrl" href="путь_к_картинке">
                                </div>
                            </div>
<!--                            <div class="name" itemprop="name">Подпись к фотографии большая в целых две-->
<!--                                строки-->
<!--                            </div>-->
                        </a>
                    </div>

                    <div class="col-md-3 col-6 mb-30" itemscope itemtype="https://schema.org/ImageObject">
                        <a href="img/temp/gallery_preview.jpg"
                           class="item"
                           data-thumb="img/temp/gallery_preview.jpg"
                           data-fancybox-id="id1"
                           data-fancybox="gallery"
                           data-caption="Название рисунка">

                            <div class="img-container">
                                <div class="img-border">
                                    <img data-src="img/sert.jpg" width="240" height="340" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 340'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    <link itemprop="contentUrl" href="путь_к_картинке">
                                </div>
                            </div>
<!--                            <div class="name" itemprop="name">Рисунок 1</div>-->
                        </a>
                    </div>

                </div>

            </div>
        </div>

        <div class="catalog-advantage-variant2 block-bg-green">
            <div class="container">

                <div class="title-wrapper">
                    <div class="h2">Нам доверяют тысячи людей,</div>
                    <div class="sub-title">и мы оправдываем оказанное доверие</div>
                </div>

                <div class="row row-mb-30-minus justify-content-center">

                    <div class="col-xl-4 col-md-6 mb-30">
                        <a href="#" class="item">
                            <div class="row">
                                <div class="col-lg-auto col-2">
                                    <div class="img-container">
                                        <img data-src="img/pic.png" width="35" height="30" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' viewBox='0 0 35 30'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </div>
                                </div>
                                <div class="col-lg col-9">
                                    <div class="text-container">
                                        <div class="text">Исключено назначение лишних диагностических и лечебных процедур. Врачи строго придерживаются плана необходимых мероприятий.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-4 col-md-6 mb-30">
                        <a href="#" class="item">
                            <div class="row">
                                <div class="col-lg-auto col-2">
                                    <div class="img-container">
                                        <img data-src="img/pic.png" width="35" height="30" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' viewBox='0 0 35 30'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </div>
                                </div>
                                <div class="col-lg col-9">
                                    <div class="text-container">
                                        <div class="text">Амбулаторное проведение операций является залогом скорой реабилитации и минимального риска для пациента.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-4 col-md-6 mb-30">
                        <a href="#" class="item">
                            <div class="row">
                                <div class="col-lg-auto col-2">
                                    <div class="img-container">
                                        <img data-src="img/pic.png" width="35" height="30" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' viewBox='0 0 35 30'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </div>
                                </div>
                                <div class="col-lg col-9">
                                    <div class="text-container">
                                        <div class="text">Специалисты медцентра учитывают особенности каждого пациента. Именно индивидуальные лечебные программы дают выраженный результат.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-4 col-md-6 mb-30">
                        <a href="#" class="item">
                            <div class="row">
                                <div class="col-lg-auto col-2">
                                    <div class="img-container">
                                        <img data-src="img/pic.png" width="35" height="30" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' viewBox='0 0 35 30'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </div>
                                </div>
                                <div class="col-lg col-9">
                                    <div class="text-container">
                                        <div class="text">Материально-техническая база медицинского центра — это самое современное диагностическое оборудование экспертного класса.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-4 col-md-6 mb-30">
                        <a href="#" class="item">
                            <div class="row">
                                <div class="col-lg-auto col-2">
                                    <div class="img-container">
                                        <img data-src="img/pic.png" width="35" height="30" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' viewBox='0 0 35 30'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </div>
                                </div>
                                <div class="col-lg col-9">
                                    <div class="text-container">
                                        <div class="text">Быстрое восстановление обеспечивается благодаря применению физиотерапевтических методов, в том числе массажа.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-4 col-md-6 mb-30">
                        <a href="#" class="item">
                            <div class="row">
                                <div class="col-lg-auto col-2">
                                    <div class="img-container">
                                        <img data-src="img/pic.png" width="35" height="30" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' viewBox='0 0 35 30'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                                    </div>
                                </div>
                                <div class="col-lg col-9">
                                    <div class="text-container">
                                        <div class="text">В рамках помощи широкому кругу клиентов учреждение проводит освидетельствование для получения больничных листов, справок и др.</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="doctor-list block-bg4">
            <div class="container">

                <div class="title-wrapper">
                    <div class="h2">Ждем вас на прием</div>
                </div>
                <div class="row row-mb-30-minus">

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc1.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Белякова <br>
                                Галина Леонидовна
                            </a>
                            <div class="prof">Врач дерматовенеролог, косметолог</div>
                            <div class="descr">
                                <p>
                                    Член национального общества мезотерапии. <br>
                                    Участник международных симпозиумов и конгрессов.
                                </p>
                                <p>Постоянный участник открытых форумов и семинаров по дерматологии и косметологии.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc2.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Писецкий <br>
                                Михаил Николаевич
                            </a>
                            <div class="prof">Уролог-андролог</div>
                            <div class="descr">
                                <p>Февраль, 2013, VII Всероссийская научно- практическая конференция «Рациональная фармакотерапия в урологии 2013»</p>
                                <p>Март, 2013, II Научно-практическая конференция «Фундаментальная и практическая урология»</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc3.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Трофимова <br>
                                Диана Олеговна
                            </a>
                            <div class="prof">Акушерство-гинекология, Нутрициолог</div>
                            <div class="descr">
                                Член ассоциации врачей интегративной превентивной и антивозрастной медицины PreventAge
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc4.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Мальшаков <br>
                                Андрей Владимирович
                            </a>
                            <div class="prof">Хирургия, оториноларингология, ВОП, Нейрохирургия</div>
                            <div class="descr">
                                Член Российского общества хирургов
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc1.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Белякова <br>
                                Галина Леонидовна
                            </a>
                            <div class="prof">Врач дерматовенеролог, косметолог</div>
                            <div class="descr">
                                Член национального общества мезотерапии. <br>
                                Участник международных симпозиумов и конгрессов. <br>
                                Постоянный участник открытых форумов и семинаров по дерматологии и косметологии.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc2.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Писецкий <br>
                                Михаил Николаевич
                            </a>
                            <div class="prof">Уролог-андролог</div>
                            <div class="descr">
                                <p>Февраль, 2013, VII Всероссийская научно- практическая конференция «Рациональная фармакотерапия в урологии 2013»</p>
                                <p>Март, 2013, II Научно-практическая конференция «Фундаментальная и практическая урология»</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc3.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Трофимова <br>
                                Диана Олеговна
                            </a>
                            <div class="prof">Акушерство-гинекология, Нутрициолог</div>
                            <div class="descr">
                                Член ассоциации врачей интегративной превентивной и антивозрастной медицины PreventAge
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-30">
                        <div class="item">
                            <a href="#" class="img-container">
                                <img data-src="img/doc4.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                            </a>
                            <a href="#" class="name">
                                Мальшаков <br>
                                Андрей Владимирович
                            </a>
                            <div class="prof">Хирургия, оториноларингология, ВОП, Нейрохирургия</div>
                            <div class="descr text-elements">
                                Член Российского общества хирургов
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="text-block block-margin-bottom" style="display: none;">
            <div class="container">
                <div class="text-block-item">
                    <div class="text-container text-elements-title">
                        <div class="text text-elements">

                            <div class="title-wrapper text-center">
                                <h1>Шаблон на основе Bootstrap</h1>
                                <div class="sub-title">а это подзаголовок</div>
                            </div>

                            <b>Основные:</b>
                            <ul>
                                <li><a target="_blank" href="/">Index Page</a> - Главная</li>
                                <li><a target="_blank" href="catalog.html">catalog.html</a> - Каталог</li>
                                <li><a target="_blank" href="tovar.html">tovar.html</a> - Страница товара </li>
                                <li><a target="_blank" href="tovar2.html">tovar2.html</a> - Страница товара 2</li>
                                <li><a target="_blank" href="advantage.html">advantage.html</a> - Преимущества и услуги</li>
                                <li><a target="_blank" href="content.html">content.html</a> - Блоки контент-менеджера</li>
                                <li><a target="_blank" href="slider.html">slider.html</a> - Слайдеры</li>
                            </ul>

                            <b>Стандартные страницы:</b>
                            <ul>
                                <li><a target="_blank" href="sections.html">sections.html</a> - Страница со списком подразделов</li>
                                <li><a target="_blank" href="gallery.html">gallery.html</a> - Галерея - альбомы</li>
                                <li><a target="_blank" href="gallery_inner.html">gallery_inner.html</a> - Галерея - внутренняя</li>
                                <li><a target="_blank" href="videogallery.html">videogallery.html</a> - Видеогалерея</li>
                                <li><a target="_blank" href="news.html">news.html</a> - Новости - список</li>
                                <li><a target="_blank" href="news_one.html">news_one.html</a> - Новости - внутренняя</li>
                                <li><a target="_blank" href="faq.html">faq.html</a> - Вопрос-ответ</li>
                                <li><a target="_blank" href="price.html">price.html</a> - Прайс-листы (документы) в двух видах</li>
                                <li><a target="_blank" href="forms.html">forms.html</a> - Формы</li>
                                <li><a target="_blank" href="cart.html">cart.html</a> - Корзина</li>
                                <li><a target="_blank" href="order.html">order.html</a> - Заказ оформлен</li>
                                <li><a target="_blank" href="contacts.html">contacts.html</a> - Контакты</li>
                            </ul>

                            <b>Дополнительные страницы:</b>
                            <ul>
                                <li><a target="_blank" href="other.html">other.html</a><br>
                                    Кастомные инпуты, faq-mini, карта, скроллар, скрипт input file, бегунок цены и тд
                                </li>
                                <li><a target="_blank" href="header_video.html">header_video.html</a> - Хедер с видео</li>
                                <li><a target="_blank" href="landing.html">Landing Page</a> - Лендинг простой</li>
                                <li><a target="_blank" href="svg.html">svg.html</a> - SVG наработки</li>
                                <li><a target="_blank" href="admin_page.html">admin_page.html</a>  - Страница админки</li>
                                <li><a target="_blank" href="rubrik.html">rubrik.html</a> - Рубрики</li>
                                <li><a target="_blank" href="popup_old.html">popup_old.html</a> - Старый попап</li>
                            </ul>

                            <b>Тестирование:</b>
                            <ul>
                                <li><a target="_blank" href="typography.html">typography.html</a>  - Типографика</li>
                                <li><a target="_blank" href="test_margin.html">test_margin.html</a> - Тестирование отступов</li>
                                <li><a target="_blank" href="empty.html">empty.html</a> - Пустая двухколоночная страница</li>
                                <li><a target="_blank" href="test.html">test.html</a> - test</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @@include('footer.html')

</div>

@@include('widgets.html')

@@include('scripts.html')

</body>
</html>