<!DOCTYPE html>
<html lang="ru">

<head>
  @@include('head.html', {
  "title": "Услуги"
  })
  @@include('head_css.html')
</head>

<body>

<div class="page">

  @@include('header.html')

  @@include('menu_top.html')

  <!--content-->
  <div class="page-content inner-bg">

    @@include('breadcrumb.html')

    <div class="container">
      <div class="title-wrapper">
        <h1>Хирургия</h1>
      </div>
    </div>

    <div class="price-block2 block-margin-bottom-small">
      <div class="container">

        <div class="item">
          <div class="item-wrap">
            <div class="price-block2-text-title">Прием хирурга</div>
            <div class="row">

              <div class="col-xl-6">
                <div class="price-block2-text-text">Хирург занимается диагностикой и лечением врожденных и приобретенных патологий внутренних органов, костной системы и тканей.</div>
              </div>

              <div class="col-xl-6">
                <div class="table-responsive">
                  <div class="overflow">
                    <table>
                      <tr>
                        <td class="row1">Первичный приём врача хирурга</td>
                        <td class="row2 nowrap">1 500 Р</td>
                      </tr>
                      <tr>
                        <td class="row1">Повторный приём врача хирурга</td>
                        <td class="row2 nowrap">1 250 Р</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

            </div>

            <div class="btn-wrap">
              <a href="#" class="button2">Все цены</a>
              <a href="#" class="button">Запись на прием</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="doctor-list2 block-margin-bottom">
      <div class="container">
        <div class="row row-mb-30-minus">

          <div class="col-lg-6 col-md-4 col-6 mb-30">
            <div class="item">
              <div class="row row-mini20">
                <div class="col-xl-auto col-lg-4">
                  <a href="#" class="img-container">
                    <img data-src="img/doc4.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  </a>
                </div>
                <div class="col-xl col-lg-8">
                  <div class="text-container">
                    <div class="text-container2">
                      <a href="#" class="name">Мальшаков Андрей Владимирович</a>
                      <div class="prof">Хирургия, оториноларингология, ВОП, Нейрохирургия</div>
                      <table class="time">
                        <tr>
                          <th>Вторник:</th>
                          <td><span class="nowrap">10:00 - 14:00,</span>  <span class="nowrap">16:00 - 18:30</span></td>
                        </tr>
                        <tr>
                          <th>Четверг:</th>
                          <td><span class="nowrap">10:00 - 14:00,</span>  <span class="nowrap">16:00 - 18:00</span></td>
                        </tr>
                        <tr>
                          <th>Суббота:</th>
                          <td><span class="nowrap">10:00 - 14:00</span></td>
                        </tr>
                      </table>
                    </div>
                    <a href="#" class="button">Запись на прием</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-4 col-6 mb-30">
            <div class="item">
              <div class="row row-mini20">
                <div class="col-xl-auto col-lg-4">
                  <a href="#" class="img-container">
                    <img data-src="img/doc2.jpg" width="240" height="240" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' viewBox='0 0 240 240'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  </a>
                </div>
                <div class="col-xl col-lg-8">
                  <div class="text-container">
                    <div class="text-container2">
                      <a href="#" class="name">Писецкий Михаил Николаевич</a>
                      <div class="prof">Хирургия, оториноларингология, ВОП, Нейрохирургия</div>
                      <table class="time">
                        <tr>
                          <th>Вторник:</th>
                          <td><span class="nowrap">10:00 - 14:00</span></td>
                        </tr>
                        <tr>
                          <th>Четверг:</th>
                          <td><span class="nowrap">10:00 - 14:00</span></td>
                        </tr>
                        <tr>
                          <th>Пятница:</th>
                          <td><span class="nowrap">10:00 - 14:00,</span>  <span class="nowrap">16:00 - 18:30</span></td>
                        </tr>
                        <tr>
                          <th>Суббота:</th>
                          <td><span class="nowrap">10:00 - 14:00</span></td>
                        </tr>
                      </table>
                    </div>
                    <a href="#" class="button">Запись на прием</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="text-block-two-columns block-margin-bottom">
      <div class="container">

        <div class="text-block-item">
          <div class="row mb-30 no-gutters">

            <div class="col-md-5">
              <div class="text-container text-elements-title">
                <div class="text text-elements">

                  <a href="img/text-block-img.jpg" data-fancybox="" data-caption="Название рисунка" class="img-container">
                    <img data-src="img/text-block-img.jpg" width="520" height="480" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='520' viewBox='0 0 520 480'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
                  </a>

                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="text-container text-elements-title">
                <div class="title-wrapper">
                  <div class="h2">Полезная информация</div>
                </div>
                <div class="text-wrap">
                  <div class="text text-elements">
                    <div class="h3">Как подготовиться?</div>
                    <p>Прием хирурга не требует специальной подготовки. Желательно записаться на прием утром и натощак, чтобы можно было сдать анализы в день обращения. На первую консультацию хирурга следует взять с собой медицинскую карту и результаты последних обследований.</p>
                    <div class="h3">Как проходит прием хирурга?</div>
                    <p>Прием хирурга включает изучение медкарты пациента, сбор анамнеза и выслушивание жалоб. Уточнить состояние больного помогают лабораторно-инструментальные исследования:</p>
                    <ul>
                      <li>рентген;</li>
                      <li>коагулограмма;</li>
                      <li>сцинтиграфия;</li>
                      <li>УЗИ;</li>
                      <li>компьютерная или магнитно-резонансная томография;</li>
                      <li>биохимический анализы крови;</li>
                      <li>анализ мочи;</li>
                      <li>гистологический анализ и биопсия.</li>
                    </ul>
                    <p>После получения результатов обследований хирург определяет диагноз, и рассматривает целесообразность хирургического вмешательства.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="catalog-advantage-variant8 block-bg-green">
      <div class="container">

        <div class="title-wrapper">
          <div class="h2">Возможности наших хирургов</div>
        </div>

        <div class="row row-mb-30-minus justify-content-center">

          <div class="col-lg-4 col-md-6 mb-30">
            <div class="item">
              <a href="#" class="img-container">
                <img data-src="img/uslugi-img1.jpg" width="410" height="210" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='410' viewBox='0 0 410 210'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
              <div class="text-container">
                <a href="#" class="name">Лечение патологий</a>
                <div class="text">
                  <ul>
                    <li><a href="#">Вросший ноготь</a></li>
                    <li><a href="#">Липома</a></li>
                    <li><a href="#">Атерома</a></li>
                    <li><a href="#">Раны, ожоги, обморожения</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-30">
            <div class="item">
              <a href="#" class="img-container">
                <img data-src="img/uslugi-img2.jpg" width="410" height="210" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='410' viewBox='0 0 410 210'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
              <div class="text-container">
                <a href="#" class="name">Операционная</a>
                <div class="text">
                  <ul>
                    <li><a href="#">Экстренные операции</a></li>
                    <li><a href="#">Название подраздела</a></li>
                    <li><a href="#">Название подраздела</a></li>
                    <li><a href="#">Название подраздела</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-30">
            <div class="item">
              <div class="img-container">
                <img data-src="img/uslugi-img3.jpg" width="410" height="210" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='410' viewBox='0 0 410 210'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </div>
              <div class="text-container">
                <a href="#" class="name">Дневной стационар</a>
                <div class="text">
                  <ul>
                    <li><a href="#">Амбулаторная хирургия</a></li>
                    <li><a href="#">Название подраздела</a></li>
                    <li><a href="#">Название подраздела</a></li>
                    <li><a href="#">Название подраздела</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="gallery-slider block-bg7">
      <div class="container">

        <div class="title-wrapper">
          <div class="h2">Наше хирургическое отделение</div>
        </div>

        <div class="synced-slider1">
          <div class="owl-carousel owl-theme">

            <div class="item">
              <a href="img/slide2.jpg" data-fancybox="tovar-gallery" data-caption="Товар" class="img-container">
                <img data-src="img/slide2.jpg" width="1290" height="650" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1290' viewBox='0 0 1290 650'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
            </div>

            <div class="item">
              <a href="img/slide2.jpg" data-fancybox="tovar-gallery" data-caption="Товар" class="img-container">
                <img data-src="img/slide2.jpg" width="1290" height="650" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1290' viewBox='0 0 1290 650'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
            </div>

            <div class="item">
              <a href="img/slide2.jpg" data-fancybox="tovar-gallery" data-caption="Товар" class="img-container">
                <img data-src="img/slide2.jpg" width="1290" height="650" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1290' viewBox='0 0 1290 650'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
            </div>

            <div class="item">
              <a href="img/slide2.jpg" data-fancybox="tovar-gallery" data-caption="Товар" class="img-container">
                <img data-src="img/slide2.jpg" width="1290" height="650" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1290' viewBox='0 0 1290 650'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
            </div>

            <div class="item">
              <a href="img/slide2.jpg" data-fancybox="tovar-gallery" data-caption="Товар" class="img-container">
                <img data-src="img/slide2.jpg" width="1290" height="650" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1290' viewBox='0 0 1290 650'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
            </div>

            <div class="item">
              <a href="img/slide2.jpg" data-fancybox="tovar-gallery" data-caption="Товар" class="img-container">
                <img data-src="img/slide2.jpg" width="1290" height="650" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1290' viewBox='0 0 1290 650'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </a>
            </div>

          </div>
        </div>
        <div class="synced-slider2">
          <div class="owl-carousel owl-theme">

            <div class="item">
              <div class="img-container">
                <img data-src="img/slide2.jpg" width="190" height="120" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' viewBox='0 0 190 120'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </div>
            </div>

            <div class="item">
              <div class="img-container">
                <img data-src="img/slide2.jpg" width="190" height="120" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' viewBox='0 0 190 120'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </div>
            </div>

            <div class="item">
              <div class="img-container">
                <img data-src="img/slide2.jpg" width="190" height="120" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' viewBox='0 0 190 120'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </div>
            </div>

            <div class="item">
              <div class="img-container">
                <img data-src="img/slide2.jpg" width="190" height="120" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' viewBox='0 0 190 120'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </div>
            </div>

            <div class="item">
              <div class="img-container">
                <img data-src="img/slide2.jpg" width="190" height="120" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' viewBox='0 0 190 120'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </div>
            </div>

            <div class="item">
              <div class="img-container">
                <img data-src="img/slide2.jpg" width="190" height="120" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='190' viewBox='0 0 190 120'%3E%3C/svg%3E" class="img-fluid lazy" alt="">
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="price-block price-block-hidden opened block-bg2">
      <div class="container">

        <div class="item">

          <div class="title-wrapper">
            <div class="h2">Стоимость услуг по хирургии:</div>
<!--            <a href="#" class="price-block-button active"><span>Группа цен 1</span></a>-->
          </div>

          <div class="block-hidden">

            <div class="table-responsive mb-30">
              <div class="overflow">
                <table>
                  <tr>
                    <td class="row1">Первичный приём врача хирурга</td>
                    <td class="row2 nowrap">1 500 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Повторный приём врача хирурга</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>

                  <tr>
                    <td class="row1">Иссечение накожных элементов и образований (1 элемент) - I кат. сложности</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>

                  <tr>
                    <td class="row1">Иссечение накожных элементов и образований (1 элемент) - II кат. сложности</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Иссечение накожных элементов и образований (1 элемент) - III кат. сложности</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Иссечение подкожных образований со швами - I кат. сложности</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Иссечение подкожных образований со швами - II кат. сложности</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Иссечение подкожных образований со швами - III кат. сложности</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Наложение асептической повязки</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Наложение косметического шва</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Наложение лекарственной повязки</td>
                    <td class="row2 nowrap">1 250 Р</td>
                  </tr>
                  <tr>
                    <td class="row1">Наложение шва на веки</td>
                    <td class="row2 nowrap">600 Р</td>
                  </tr>
                </table>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="text-block-three-columns block-bg6">
      <div class="container">

        <div class="text-block-item">
          <div class="title-wrapper">
            <div class="h2">Когда стоит</div>
            <div class="sub-title">обратиться к хирургу?</div>
          </div>

          <div class="row mb-30">

            <div class="col-lg-4">
              <div class="text-container text-elements-title">
                <div class="text text-elements">
                  <p>Срочная запись к хирургу нужна пациентам, у которых фиксируются:</p>
                  <ul class="ul-style2">
                    <li>при прощупывании объемные твердые образования;</li>
                    <li>травмы (сотрясение, перелом, повреждение внутренних органов, ожог, вывих или обморожение тканей);</li>
                    <li>отечность конечности, ограничение подвижности;</li>
                    <li>острые боли в области живота или грудной клетки;</li>
                    <li>симптомы межпозвоночной грыжи или грыжи живота; нарушение кровообращения в какой-либо области тела;</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="text-container text-elements-title">
                <div class="text text-elements">
                  <p>Сегодня платные хирурги в клиниках отдают предпочтение эндоскопическим и лапароскопическим операциям. Эти технологии менее травматичны, срок реабилитации после них сокращены в 2–3 раза.</p>
                  <p>Врач хирург может оказывать экстренную или плановую помощь пациентам. Некоторые операции проводятся в амбулаторных условиях без госпитализации, например: очищение ран, наложение и снятие шин, лечение вросших ногтей, флегмон, абсцессов, панарициев.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="text-container text-elements-title">
                <div class="text text-elements">
                  <p>Врач хирург может оказывать экстренную или плановую помощь пациентам. Некоторые операции проводятся в амбулаторных условиях без госпитализации, например: очищение ран, наложение и снятие шин, лечение вросших ногтей, флегмон, абсцессов, панарициев.</p>
                  <p>Сегодня платные хирурги в клиниках отдают предпочтение эндоскопическим и лапароскопическим операциям. Эти технологии менее травматичны, срок реабилитации после них сокращены в 2–3 раза.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div>

  @@include('footer.html')

</div>

@@include('widgets.html')

@@include('scripts.html')

</body>
</html>